.card {

    .actionBox {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font: var(--font-m);

        .legend {
            margin-bottom: calc(var(--size-sm) + var(--size-s));

            @media screen and (width < 768px) {
                font: var(--font-mobile-button-bold);
                margin-bottom: unset;
            }
        }
    }
}