.card {

    @media screen and (width < 768px) {
        .title {
            margin-bottom: var(--size-s) !important;
        }
    }

    .topImage {
        width: 196px;
        height: 196px;

        .pic {
            width: 100%;
            height: auto;
        }

        @media screen and (width < 768px) {
            width: 163px;
            height: 162px;
        }
    }

    .titleBox {

        .title {
            margin-bottom: var(--size-m);

            @media screen and (width < 768px) {
                margin-bottom: var(--size-sm);
            }
        }
    }

    .success {
        font-weight: 700;
        color: var(--color-green);
    }

    .wrong {
        font-weight: 700;
        color: var(--color-red);
    }
}