.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    .decore {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        translate: 0 57%;

        height: 146px;
        aspect-ratio: 135/146;

        @media screen and (width < 768px) {
            width: 90px;
            height: 97px;
            translate: 0 44%;
        }
    }

    .close {
        color: var(--color-text-alt);
        height: 40px;
        aspect-ratio: 1;
        border-radius: 50%;

        @media screen and (width < 768px) {
            height: 25px;

            svg {
                width: 26px;
                height: 26px;
            }
        }

        &:hover {
            color: var(--color-text);
        }

        &:focus-visible {
            color: var(--color-text);
            outline: 2px solid var(--color-text);
            outline-offset: 2px;
            box-shadow: 2px 2px 3px var(--color-text);
        }
    }
}