#root {
    padding: var(--size-m);

    font: var(--font-l);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    color: var(--color-text);

    background: linear-gradient(45deg, #125365 40.87%, #ff713f 40.87%, #ff713f 54.40%, #ff9d46 54.40%, #ff9d46 83.49%, #ffca4a 83.49%) center/cover no-repeat fixed;
}

.content {
    margin: auto;
    display: grid;
    grid-template-rows: 48px 1fr 16px;
    gap: var(--size-m);
    width: var(--max-card-width);

    @media screen and (width < 768px) {
        width: 100%;
        max-width: var(--max-card-width);
        grid-template-rows: 40px 1fr 12px;
        gap: var(--size-s);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font: var(--font-h2);
}