*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: inherit;
}

input, button {
    background: unset;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

b {
    font-weight: 700;
}

figure {
    margin: 0;
}