.answerBox {
    margin-block: 0;
    counter-reset: answersCounter;

    @media screen and (width < 768px) {
        gap: 8px !important;
    }

    .answerItem {
        width: 100%;
        border-radius: var(--size-bradius);
        
        position: relative;

        &:hover {
            color: var(--color-text-alt);
            background-color: var(--color-button-bg);
            border-color: var(--color-button-bg);

            [class*="item"] {
                border-color: transparent;
            }
        }

        &:has([disabled]) {
            pointer-events: none;
        }

        .success,
        .wrong {
            position: absolute;
            top: 16px;
            right: 16px;
            display: none;

            @media screen and (width < 768px) {
                top: 9px;
                right: 12px;
                width: 16px;
                height: 16px;
            }
        }
    }

    .correctAnswer {
        color: var(--color-text-alt);
        background-color: var(--color-green);

        [class*="item"] {
            background-color: var(--color-green) !important;
            border-color: var(--color-green) !important;
        }

        .success {
            display: flex;
        }
    }

    &:has(.correctAnswer) > .wrongAnswer {
        color: var(--color-text-alt);
        background-color: var(--color-red);

        [class*="item"] {
            background-color: var(--color-red) !important;
            border-color: var(--color-red) !important;
        }
        
        .wrong {
            display: flex;
        }
    }
}